
  <div class="vertical-center">
    <div class="jumbotron-center">
      <p class="jumbo-title"> <span class="jumbo-user-name"><%= @user.name %></span> </p>
      <span class="jumbo-content">Did you already do something today? :)</span><br><br>

      <% if(@user.id == current_user.id) %>
      <%= link_to 'Share', '#animatedModal', class: 'btn btn-raised btn-primary btn-lg' , id: 'new'%>
      <%= link_to 'Explore', posts_path , class: 'btn btn-raised btn-primary btn-lg' %>
      <% end %>

    </div>

      <div id="animatedModal" >
        <div style="" class="modal-content vertical-center ">
          <div class="jumbotron-center">
            <div class="close-animatedModal">
              <i class="fa fa-times-circle-o fa-5x"></i>
            </div>


            <%= form_for(@post) do |f| %>
              <% if @post.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

                  <ul>
                  <% @post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group label-static">
                <p class="jumbo-content">
                                          Getting started is easy – just fill in the blanks below <br>
                                          and get to see all your posts. How exciting!</p>
                <%= f.text_field :title, class: 'modal-textfield', placeholder: 'Title' %><br>

                <%= f.text_area :content, class: "form-control", class: 'modal-textfield', rows: 8, placeholder: 'Your Thoughts'  %>
              </div>

              <div class="actions">
                <%= f.submit class: 'btn btn-primary btn-raised' %>
              </div>


            </div>

            <% end %>

          </div>
      </div>
  </div>
  <%= javascript_include_tag 'animatedModal' , 'data-turbolinks-track' => true %>
  <script>
    $("#new").animatedModal({
      animatedOut:'bounceOut',
      color:'#A26BEF'
    });

  </script>
<br>
